<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>philipp kintrup</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/47eba03b6f.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>

      <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li> <a class="nav-bar-item" href="https://github.com/kintrp"> GitHub </a> </li>
          <li> <a class="nav-bar-item" href="https://www.linkedin.com/in/pkintrup/"> linkedin </a> </li>
          <li> <a class="nav-bar-item" href='/owl'> timeline </a> </li>
          <li> <a class="nav-bar-item" href=''> blog </a> </li>
        </ul>
     </nav>

    <div id = "information">

      <img id = "img" src="images/myself.jpg">

        <div id = "name">
            <h1>philipp Kintrup</h1>
            <p>Looking forward to gaining experience in web dev</p2>
        </div>

    </div>

    </header>

    <main>

      <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li> <a class="nav-bar-item" href='/'> Professional experience </a> </li>
          <li> <a class="nav-bar-item" href="/cat"> Academic education </a> </li>
          <li> <a class="nav-bar-item" href='/dog'> Courses </a> </li>
          <li> <a class="nav-bar-item" href='/fish'> Languages and Stack </a> </li>
        </ul>
     </nav>

     <section>

       <div id = "Banner">
         <p>
           Courses
         </p>
       </div>

       <div class = "station">

        <div class = "description">
            <h2>Master Public Policy</h2>
            <h3>Universität Passau</h3>
            <i class="fas fa-map-marker"></i> Germany <br>
            <i class="far fa-calendar-alt"></i> 2016 - 2018
          </div>
  
          <div class = "description">
            <h3>Responsabilities and Tasks</h3>
            <p>
              <li>
                european integration 
              </li>            
            </p>
          </div>
        </div>
        
        <div class = "station">
  
          <div class = "description">
            <h2>Semester abroad</h2>
            <h3> Universidad de Buenos Aires (UBA)</h3>
            <i class="fas fa-map-marker"></i> Argentina <br>
            <i class="far fa-calendar-alt"></i> 2012
          </div>
  
          <div class = "description">
            <h3>Responsabilities and Tasks</h3>
            <p>
              <li>
                International relations
              </li>            
            </p>
          </div>
        </div>

        <div class = "station">
  
          <div class = "description">
            <h2>Bachelor European Studies</h2>
            <h3> Passau University</h3>
            <i class="fas fa-map-marker"></i> Germany <br>
            <i class="far fa-calendar-alt"></i> 2010 - 2014
          </div>
  
          <div class = "description">
            <h3>Responsabilities and Tasks</h3>
            <p>
              <li>
                Qualitative Forschung 
              </li>            
            </p>
          </div>
        </div>

     </section>
      
    </main>


    <footer>
      <p>Thank's for visiting. If you have any questions, feel free to reach out.</p>
    </footer>

</body>
</html>